.container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4, 25%);
}

.header{
    grid-column-start: 1;
    grid-column-end: span 4;
}

.footer{
    grid-column: 1 / span 4;
}